.enabled-input {
  width: 100%;
  max-width: 494px;
  height: 38px;
  border-radius: 11px;
  border: 1px solid var(--border-light-gray);
  background: var(--color-lighten-gray);
  padding: 0 10px;
}
.bg-edit-mode {
  border-radius: 5px;
  background: #efefef;
  padding: 5px;
  margin: 10px 0;
}

.input-div {
  width: 100%;
  max-width: 494px;
  height: 38px;
  border-radius: 11px;
  border: 1px solid var(--border-light-gray);
  overflow: hidden;
}

.input-div input {
  width: 90%;
  height: 100%;
  padding: 0 10px;
  background: var(--color-lighten-gray);
}

.wallpapers {
  display: grid;
  grid-template-columns: repeat(auto-fit, 13rem);
  justify-content: start;
  gap: 35px;
}

#add-div {
  max-width: 196px;
  height: 136px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.wallpaper-div {
  max-width: 196px;
  height: 136px;
  border-radius: 20px;
}

@media (max-width:480px){
  .enabled-input {
  height: 30px;

}
.input-div {
  height: 30px;
}

.input-div input {
  width: 83%;
}
}

@media (min-width: 320px) {
  .wallpapers {
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .wallpapers {
    justify-content: center;
    gap: 40px;
  }
}

@media (min-width: 1000px) {
  .wallpapers {
    justify-content: center;
    gap: 25px;
  }
}

@media (min-width: 1281px) {
  .wallpapers {
    justify-content: start;
    gap: 37px;
  }
}
