.dashboard {
  background-image: url("/images/Wallpaper.png");
  background-size: 100% 100%;
  position: relative;
}

.dashboard .clock {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard .sidebar {
  background-color: rgb(186, 180, 180);
  position: absolute;
  top: 35%;
  right: 15px;
}

.dashboard .Administrator {
  width: 500px;
  position: absolute;
  border-radius: 20px;
  right: 90px;
  bottom: 70px;
 background: linear-gradient(204deg, #FFF 15.46%, rgba(217, 217, 217, 0.56) 118.36%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dashboard .Notification {
  width: 300px;
  position: absolute;
  right: 80px;
  top: 50px;
 border-radius: 20px;
background: linear-gradient(204deg, #FFF 15.46%, rgba(217, 217, 217, 0.56) 118.36%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dashboard .Search {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50% , -50%);
    border-radius: 20px;

}

.user-info h1{
  text-decoration-thickness: 3px;
  text-decoration-color: #ffc400;
}

.features-list ul li:hover a{
  font-weight: 600;
  text-decoration: underline solid #ffc400 15%;
  text-underline-position: under;
}

.features-list ul li:hover i{
 color: #ffc400;
}

.search-input{
  z-index: 9999;
  width: 600px;
  background: linear-gradient(204deg, #FFF 15.46%, rgba(217, 217, 217, 0.56) 118.36%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.search-data{
   background: linear-gradient(204deg, #FFF 15.46%, rgba(217, 217, 217, 0.56) 118.36%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-icon{
  left: 10px;
  top: 16px;
}

.hidden {
  display: none;
}

.dashboard .tooltip {
  position: absolute;
  width: 220px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  background-color: #ffc400;
  left: 30px;
  bottom: 60px;
  z-index: 999;
  display: none;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 20px solid transparent;
  border-bottom-right-radius: 90%;
  left: 40px;
  bottom: -5px;
  background-color: #ffc400;
}

.bubble-content {
  padding: 30px;
}

.bubble-content h1 {
  font-size: 2vw;
  font-weight: 500;
}

.bubble-content p {
  font-size: 1vw;
}

footer {
  background-color: rgba(255, 255, 255, 0.648);
  height: 60px;
}

.refresh{
  width: 4px;
height: 27px;
border-radius: 3px;
background: rgba(198, 198, 198, 0.764);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.desktop-sidebar {
  height: calc(100% - 60px);
}

.sidebar-content {
  height: calc(100% - 80px);
  background-image: url("/images/Rectanglebg.png");
}

.desktop-apps {
  height: calc(100% - 108px);
}

.context-menu {
  position: absolute;
  z-index: 1000;
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}
.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.context-menu ul li {
  padding: 0px 0;
}
.context-menu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 10px;
}
.context-menu ul li a:hover {
 background: #FDCF01;
}
.hidden {
  display: none;
}

