.dashboard {
  background-image: url("/images/Wallpaper.png");
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}

 /* Icon color */

.icon-color {
  color: var(--color-white);
}

.Ad-iconcolor {
  color: var(--color-light-black);
}

 /* Desktop apps */

.desktopapps-div {
  height: calc(100% - 48px);  
}

.app:hover {
  background-color: var(--color-light-gray);
}

.app:hover .app-tools {
  visibility: visible;
}

/* Right click Menu */

.context-menu {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.context-menu ul {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}

.context-menu ul li {
  position: relative;
}

.context-menu ul li a {
  text-decoration: none;
  color: var(--color-light-gray);
  display: block;
  padding: 8px 10px;
}
.context-menu ul li:hover {
  background: var(--color-dark-yellow);
}

.context-menu ul li:hover > .submenu {
  display: block;
}

.context-menu ul li a {
  color: var(--color-light-gray);
  font-size: var(--font-weight-400);
  font-size: var(--font-size-14);
}

.submenu {
  position: absolute;
  min-width: 200px;
  top: 0;
  left: 100%;
  background-color: var(--color-white);
}

.menu-sidename {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-400);
  color: var(--color-medium-gray);
}

.open-submenu {
  min-width: 250px;
}

/* Clock */

.dashboard .clock {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Search Input */

.dashboard .Search {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 90%;
  max-width: 600px;
  background: var(--bg-linear-gradient);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 40px;
}

.row input {
  flex: 1;
  height: 30px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.searchdata {
  position: absolute;
  width: 100%;
  background: var(--bg-linear-gradient);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow-y: auto;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-icon {
  left: 10px;
  top: 12px;
}

.cross-icon {
  right: 20px;
  top: 12px;
  cursor: pointer;
}

 /* Sidebar */

.dashboard .dashboard-sidebar {
  background-color: rgb(186, 180, 180);
  position: absolute;
  top: 35%;
  right: 15px;
}

/* Notification */

.dashboard .Notification {
  width: 90%;
  max-width: 300px;
  border-radius: 20px;
  background: var(--bg-linear-gradient);
  box-shadow: var(--box-shadow);
}


/* Administrator */

.dashboard .Administrator {
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  background: var(--bg-linear-gradient);
  box-shadow: var(--box-shadow);
}

.user-info h1 {
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-dark-yellow);
}

.features-list ul li:hover a {
  font-weight: 600;
  text-decoration: underline solid var(--color-dark-yellow) 15%;
  text-underline-position: under;
}

.features-list ul li:hover i {
  color: var(--color-dark-yellow);
}

/* .app-properties{
  width: 300px;
  background-color: rgb(252, 235, 149);
  border-radius: 2px;
} */
