.file-container{
  height: calc(100vh - 60px);
  background-image: url("/images/Rectanglebg.png");
}

.content-container{
  height: calc(100% - 80px);
}

.sidebar{
  background-image: url("/images//sidebarimg.png");
}

.sidebar h1{
  color: gray;
}

.yellowbar{
  background-image: url("/images/Yellowbar.png");
}

.content-showing .content{
  height: calc(100% - 64px);
}

#searchicon{
  right: 40px;
}

footer{
    background-image: url(/images/Wallpaper.png), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
      background-blend-mode: lighten;
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}