
.lightapp-heading {
  color: var(--color-light-gray);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-400);
}

.all-tab {
  background: var(--color-light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

nav ul li:hover {
  background: var(--color-light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-dark-yellow);
}

.lightapp-btn {
  background: var(--color-light-gray);
  color: var(--color-dark-yellow);
}

.modal-heading {
  color: var(--color-pure-black);
}

.small-container {
  width: 187px;
  height: 227px;
  border: 1px solid var(--border-light-gray);
  background-color: var(--bg-light-gray);
  border-radius: 11px;
}

.small-container .img-container {
  width: 70px;
  height: 70px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.small-container #dropdown{
  z-index: 99999;
}

#Edit-modal .img-container {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add-btn {
  color: var(--color-dark-yellow);
}

#All {
  color: var(--color-dark-yellow);
}

#dropdownDefaultButton {
  border-radius: 5px;
  background: var(--color-light-gray);
}

.ms input[type="checkbox"] {
    accent-color: var(--color-dark-yellow);
}


.ms input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 29px;
    cursor: pointer;
    position: relative;
    height: 29px;
    border: 1px solid var(--color-pure-black);
    border-radius: 2px;
}
.ms input[type="checkbox"]:checked{
    background-color: var(--color-dark-yellow);
}
.ms input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 20px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 5px;
}

@media (max-width:640px) {
  
  .ms input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 35px;
    cursor: pointer;
    position: relative;
    height: 29px;
    border: 1px solid var(--color-pure-black);
    border-radius: 2px;
}

  .ms input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 20px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 2px;
}
}
