
.all-tab {
  background: var(--color-light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}


.lightapp-btn {
  background: var(--color-light-gray);
  color: var(--color-dark-yellow);
}

.modal-heading {
  color: var(--color-pure-black);
}

.small-container {
  width: 187px;
  height: 227px;
  border: 1px solid var(--border-light-gray);
  background-color: var(--bg-light-gray);
  border-radius: 11px;
}

.small-container .img-container {
  width: 70px;
  height: 70px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.small-container #dropdown{
  z-index: 99999;
}

/* Edit Modal */

#Edit-modal .img-container {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
}

.add-btn {
  color: var(--color-dark-yellow);
}

#All {
  color: var(--color-dark-yellow);
}

 /* Dropdown menu and button */

.dropdown-menu{
border: 1px solid #686868;
}

.dropdown-button {
  border-radius: 5px;
  background: var(--color-light-gray);
}

/* Delete Modal css */

.delete-modal{
  width: 90%;
  max-width: 390px;
  min-height: 210px;
  border-radius: 20px;
  border: 1px solid var(--border-light-gray);
  background: var(--color-dark-white);
}

.cs input::placeholder {
  color: var(--color-gray-2); /* Replace with your desired color */
}

/* For Internet Explorer 10-11 */
.cs input:-ms-input-placeholder {
  color: var(--color-gray-2); /* Replace with your desired color */
}

/* For Microsoft Edge */
.cs input::-ms-input-placeholder {
  color: var(--color-gray-2); /* Replace with your desired color */
}

 /* Checkbox css */

.ms input[type="checkbox"] {
    accent-color: var(--color-dark-yellow);
}


.ms input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 16px;
    cursor: pointer;
    position: relative;
    height: 16px;
    border:none;
    border: 2px solid var(--color-dark-yellow);
    border-radius: 2px;
}
.ms input[type="checkbox"]:checked{
    background-color: var(--color-white);
}
.ms input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 12px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 2px;
}

/* Responsive css */

@media (max-width:320px) {
  .ms h4{
    font-size: 11px;
  }

  
}

@media (max-width:480px){
  .small-container {
  width: 150px;
  height: 200px;
}


  .ms input[type="checkbox"]:checked::after {
    font-size: 11px;
    height: 12px;
    top: -2px;
    left: 2px;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

}

@media (max-width:835px){
  .small-container {
  width: 168px;
  height: 210px;
}

}
