.plugin-container {
  height: calc(100% - 56px);
}

.plugin-sidebar {
  background-image: url("/images/sidebarimg.png");
}

.all-tab {
  background: #282828;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav ul li:hover {
  border-radius: 0px 10px 10px 0px;
  background: #282828;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fdcf01;
}
.plugin-content {
  height: calc(100% - 112px);
}

.plugin-yellowbar {
  background-image: url("/images/Yellowbar.png");
}

.right-container {
  background-image: url("/images/Rectanglebg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.small-container {
  border: 1px solid gray;
  background-color: rgb(229, 228, 228);
}

.small-container .img-container {
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.add-btn {
  color: #fdcf01;
}

#All {
  color: #fdcf01;
}

#dropdownDefaultButton {
  border-radius: 5px;
  background: #282828;
}

footer {
  background-image: url(/images/Wallpaper.png),
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: lighten;
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

.refresh {
  width: 4px;
  height: 27px;
  border-radius: 3px;
  background: rgba(198, 198, 198, 0.764);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
