.bg-c-black {
    background: var(--color-light-gray);
}
.bg-c-yellow {
    background: var(--color-dark-yellow);
}
.bg-c-light-black {
    background: var(--color-light-black);
}
.bg-c-gray-2 {
    background: var(--color-gray-2);
}
.bg-c-dark-gray {
    background: var(--color-dark-gray);
}
.text-c-black {
    color: var(--color-light-gray);
}
.text-c-yellow {
    color: var(--color-dark-yellow);
}
.hover-text-c-yellow:hover {
    color: var(--color-dark-yellow);
}
.hover-bg-c-black:hover {
    background: var(--color-light-gray);
}
.hover-bg-c-yellow:hover {
    background: var(--color-dark-yellow);
}

body.nx {
    overflow-x: hidden;
}

.nx .main {
    background: url('/images/main-bg.png');
    background-size: cover;
    background-position: center;
    overflow: scroll;
}

.nx .taskbar {
    background: url('/images/taskbar-bg.png');
    background-size: cover;
    background-position: center;
}

.plugin-sidebar {
  background-image: url("/images/sidebarimg.png");
}

.all-tab {
  background: var(--color-light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

nav ul li:hover {
  background: var(--color-light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-dark-yellow);
}

.small-container {
  border: 1px solid gray;
  background-color: rgb(229, 228, 228);
}

.small-container .img-container {
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.add-btn {
  color: var(--color-dark-yellow);
}

#All {
  color: var(--color-dark-yellow);
}

#dropdownDefaultButton {
  border-radius: 5px;
  background: var(--color-light-gray);
}

