
@media (max-width:320px) {
    .label{
        font-size: 12px;
    }
    .radio-button span{
        width: 20px;
        font-size: 11px;
    }

 .radio-circle .text {
    font-size: 12px;
 }
}

@media (max-width:385px){
    .description-list{
        margin-left: 10px;
        width: 60vw;
    }
}