.nx .roletoggle-bg {
    background: var(--color-dark-gray);
}
.nx .toggle-switch input:checked~.dot {
    transform: translateX(130%);
}
.nx .toggle-switch input:checked~ .roletoggle-bg{
    background: var(--color-dark-yellow);
}

.title-btn {
  background-color: var(--color-dark-yellow);
}

hr {
  border: 1px solid var(--color-light-white);
}

.checkbox-container {
  background-color: var(--color-lighten-gray);
}

#modal{
  z-index: 999;
}

 .nx input[type="checkbox"].d-checkbox {
    accent-color: var(--color-dark-yellow);
}


.nx input[type="checkbox"].d-checkbox {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 12px;
    cursor: pointer;
    position: relative;
    height: 12px;
    border: 2px solid var(--color-dark-yellow);
    border-radius: 2px;
}
.nx input[type="checkbox"].d-checkbox:checked{
    background-color: rgba(217, 217, 217, 0.41);
}
.nx input[type="checkbox"].d-checkbox:checked::after {
    content: "✔";
    font-size: 10px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 1px;
}

.nx .edit-btn{
  color: #00ADEF;
}